<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-motorcycle me-3"></i>RookieRider</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="/" class="nav-item nav-link">About</a>
            <a href="/" class="nav-item nav-link">Articles</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Gear</a>
                <div class="dropdown-menu fade-up m-0">
                    <a href="/" class="dropdown-item">Helmets</a>
                    <a href="/" class="dropdown-item">Jackets</a>
                    <a href="/" class="dropdown-item">Pants</a>
                    <a href="/" class="dropdown-item">Boots</a>
                    <a href="/" class="dropdown-item">Gloves</a>
                </div>
            </div>
            <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a href="/" class="nav-item nav-link">Contact</a>
        </div>
        <div class="h-100 d-inline-flex align-items-center">
            <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</nav>


